[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

.gallery {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.gallery ul {
    margin-left: 36%;
}

.gallery ul li {
    width: 15%;
    cursor: pointer;
}